/* Write your CSS here */

.item-container {
}
.button {
  background-color: #585076;
  color: #c4c4c4;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px #c4c4c4 solid;
  width: 130px;
}
